body {

    background-image: url(https://images.unsplash.com/photo-1457523054379-8d03ab9fc2aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 36px;
    color: white;
    text-align: center;
}

.subheading {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: whitesmoke
}

.drumSet {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}

button {
    
    border: 3px solid #323031;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.8rem;
    width: 120px;
    text-align: center;
    color: #323031;
    background: rgba(0,0,0,0,4);
    text-shadow: 0 0 5px black;
}


button:hover {
    border-radius: 50px;
    color: #ffffff !important;
    background: #323031;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

